<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="lithnetResourceManagementClient" type="Lithnet.ResourceManagement.Client.ClientConfigurationSection, Lithnet.ResourceManagement.Client"/>
    </configSections>

    <lithnetResourceManagementClient
      resourceManagementServiceBaseAddress="http://fimsvc:5725"
      servicePrincipalName="FIMService/fimsvc"
      forceKerberos="false"
    />

</configuration>