<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="lithnetResourceManagementClient" type="Lithnet.ResourceManagement.Client.ClientConfigurationSection, Lithnet.ResourceManagement.Client"/>
    </configSections>
	<appSettings>
		<add key="approvalClientUser" value="mimuser"/>
		<add key="approvalClientUserDomain" value="mimuser"/>
		<add key="approvalClientUserPassword" value="mimuser"/>
	</appSettings>

    <lithnetResourceManagementClient
      resourceManagementServiceBaseAddress="http://fimsvc:5725"
      servicePrincipalName="FIMService/fimsvc"
      forceKerberos="false"
    />

<!--
	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true"
							maxMessagesToLog="300"
							logMessagesAtServiceLevel="true"
							logMalformedMessages="true"
							logMessagesAtTransportLevel="true" />
		</diagnostics>
	</system.serviceModel>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information,ActivityTracing"
			  propagateActivity="true">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="D:\temp\TracingAndLogging-client.svclog" type="System.Diagnostics.XmlWriterTraceListener"
			  name="xml" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
-->

</configuration>