<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="lithnetResourceManagementClient" type="Lithnet.ResourceManagement.Client.ClientConfigurationSection, Lithnet.ResourceManagement.Client.Core"/>
  </configSections>

  <lithnetResourceManagementClient
    resourceManagementServiceBaseAddress="http://fimsvc-sspr:5725"
    servicePrincipalName="FIMService/fimsvc-sspr"
    forceKerberos="false"
    />

</configuration>