<system.serviceModel>
	<bindings>
		<!-- Binding for 5736 endpoint -->
		<netTcpContextBinding>
			<binding name="NetTcpContextBinding5736">
				<security mode="Transport">
					<transport clientCredentialType="Windows"/>
				</security>
			</binding>
		</netTcpContextBinding>
		<netTcpBinding>
			<binding name="NetTcpBinding5736" transferMode="Streamed">
				<security mode="Transport">
					<transport clientCredentialType="Windows"/>
				</security>
			</binding>
		</netTcpBinding>
	</bindings>
	<services>
		<service name="Microsoft.ResourceManagement.WebServices.ResourceManagementService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:5725" />
				</baseAddresses>
			</host>
			<!-- Transport security endpoint for 5736 -->
			<endpoint address="net.tcp://localhost:5736/ResourceManagementService/Enumeration" binding="netTcpBinding" bindingConfiguration="NetTcpBinding5736" contract="Microsoft.ResourceManagement.WebServices.WSEnumeration.IEnumeration"/>
			<endpoint address="net.tcp://localhost:5736/ResourceManagementService/Resource" binding="netTcpContextBinding" bindingConfiguration="NetTcpContextBinding5736" contract="Microsoft.ResourceManagement.WebServices.WSTransfer.IResource"/>
			<endpoint address="net.tcp://localhost:5736/ResourceManagementService/ResourceFactory" binding="netTcpContextBinding" bindingConfiguration="NetTcpContextBinding5736" contract="Microsoft.ResourceManagement.WebServices.WSTransfer.IResourceFactory"/>
		</service>
		<service name="Microsoft.ResourceManagement.WebServices.SecurityTokenService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:5726" />
				</baseAddresses>
			</host>
		</service>
	</services>
</system.serviceModel>
