<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10000"/>
    </connectionManagement>
  </system.net>

  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_IMetadataExchange" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2048576" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
      <wsHttpContextBinding>
        <binding name="ServiceMultipleTokenBinding_Resource" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2048576" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
        <binding name="ServiceMultipleTokenBinding_ResourceFactory" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2048576" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" >
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
        <binding name="ServiceMultipleTokenBinding_Search" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2048576" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" contextProtectionLevel="Sign">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpContextBinding>
    </bindings>
    <client>
      <endpoint address="http://fimsvc-sync:5725/ResourceManagementService/Resource"
          binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Resource"
          contract="ResourceManagementService.Resource" name="ServiceMultipleTokenBinding_Resource" />
      <endpoint address="http://fimsvc-sync:5725/ResourceManagementService/ResourceFactory"
          binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_ResourceFactory"
          contract="ResourceManagementService.ResourceFactory" name="ServiceMultipleTokenBinding_ResourceFactory" />
      <endpoint address="http://fimsvc-sync:5725/ResourceManagementService/Enumeration"
          binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Search"
          contract="ResourceManagementService.Search" name="ServiceMultipleTokenBinding_Search" />
      <endpoint address="http://fimsvc-sync:5725/ResourceManagementService/MEX"
          binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IMetadataExchange"
          contract="ResourceManagementService.IMetadataExchange" name="MetadataExchangeHttpBinding_IMetadataExchange" />
    </client>
  </system.serviceModel>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ResourceManagement" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="3.3.0.0-4.1.3.0" newVersion="4.1.3634.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>